main {
  text-align: center;
  align-content: center;
  margin: 0 10%;
  padding: 3% 3%;
  color: #e16684;
  border-radius: 15px;
  background-color: #2f243a;
  font-family: "Nunito", sans-serif;
}
.customizeSection {
  /* border: 6px solid purple; */
  width: 100%;
}
.button {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #a380a1;
  font-size: 15px;
  margin: 5px 0;
  color: #2f243a;
}

.speedSection {
  align-content: center;
  margin: 5px 0;
}
.speedButton {
  width: 13.5%;
  border-radius: 5px;
  height: 40px;
  border: 1px #2f243a solid;
  border-radius: 5px;
  background-color: #a380a1;
  color: #2f243a;
}
#grid {
  margin-right: 2%;
}
.header {
  color: #87d4c4;
  font-size: 22px;
}
